# Java specific
*.class
*.war
*.ear
*.iml

# IntelliJ
.idea/
out/

# VS Code
.vscode/

# Build tools
target/
build/
bin/

# Gradle
*.gradle

# Proguard
proguard.pro

# Docker Images
*.tar

# Private Configs
*.properties

# Private Docs
dev_docs/